<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moudle.hooks">

    <application>
        <activity android:name=".HookActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".ProxyActivity" >
        </activity>
    </application>

</manifest>